In [1]:
import pandas as pd
import json
import numpy as np

In [2]:
file = './Resources/purchase_data.json'
df = pd.read_json(file)
df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [3]:
# to get the player total
unique_x = len(df['SN'].unique())
total_player = pd.DataFrame({'total players': [unique_x]})
total_player

   total players
0            573

In [4]:
# I need to get numbers of unique items
unique = df['Item ID'].nunique()
unique

183

In [5]:
average = round(df['Price'].mean(),2)
average

2.93

In [6]:
# to find the number of purchase
num_purchase = df['Item ID'].count()
num_purchase

780

In [7]:
total_revenue = round(num_purchase * 2.93,2)
total_revenue

2285.4

In [8]:
summary = pd.DataFrame({'Number of Unique Items': [unique],"Average Price": [average],"Number of Purchases":[num_purchase],
                       'Total revenue': [total_revenue]})
summary

   Number of Unique Items  Average Price  Number of Purchases  Total revenue
0                     183           2.93                  780         2285.4

In [9]:
# count numbers of male
unique = df['Gender'].unique()
unique

array(['Male', 'Female', 'Other / Non-Disclosed'], dtype=object)

In [10]:
gender_grp = df.drop_duplicates('SN', keep='first')
gender_male = gender_grp['Gender'].value_counts()['Male']
gender_female = gender_grp['Gender'].value_counts()['Female']
gender_other = gender_grp['Gender'].value_counts()['Other / Non-Disclosed']

In [11]:
# calculate the percentage of player
male_per = ((gender_male / unique_x) * 100)
fem_per = ((gender_female / unique_x) * 100)
other_per = (gender_other/ unique_x) * 100

In [12]:
# create data frame for the value
frame = pd.DataFrame({'total count': [gender_male,gender_female,gender_other],
                     'percentage':[male_per,fem_per,other_per]})
frame

   total count  percentage
0          465   81.151832
1          100   17.452007
2            8    1.396161

In [13]:
purchase_price = df.groupby(['Gender'])['Price']
round(purchase_price.mean(),2)

Gender
Female                   2.82
Male                     2.95
Other / Non-Disclosed    3.25
Name: Price, dtype: float64

In [14]:
purchase_amount = df.groupby(['Gender'])['Price']
purchase_amount.count()

Gender
Female                   136
Male                     633
Other / Non-Disclosed     11
Name: Price, dtype: int64

In [17]:
total_purchase = (purchase_price.mean() * purchase_amount.count())
total_purchase

Gender
Female                    382.91
Male                     1867.68
Other / Non-Disclosed      35.74
Name: Price, dtype: float64

In [20]:
average_per_person = total_purchase /  purchase_amount.count()
round(average_per_person , 2)

Gender
Female                   2.82
Male                     2.95
Other / Non-Disclosed    3.25
Name: Price, dtype: float64

In [23]:
frame2 = pd.DataFrame({
                      'Purchase Count': purchase_amount.count(),
                      'Average Purchase Price': purchase_price.mean(),
                      "Total Purchase Value": total_purchase,
                      "Avg Total Purchse Per Person": average_per_person})
frame2

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchse Per Person
Gender,,,,
Female,136,2.815515,382.91,2.815515
Male,633,2.950521,1867.68,2.950521
Other / Non-Disclosed,11,3.249091,35.74,3.249091

In [45]:
# establish the bins for ages
#age_grp = df.groupby(['Age'])
bins = [0,10,15,20,25,30,35,40,45]
grp = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
demo = pd.cut(df['Age'],bins,labels=grp)
percentage = round((demo.value_counts() / unique_x ) * 100,2)
pd.DataFrame(demo.value_counts())

       Age
20-24  305
15-19  184
10-14   78
25-29   76
30-34   58
35-39   44
<10     32
40+      3

In [46]:
pd.DataFrame({'Percentage of players': percentage})

       Percentage of players
20-24                  53.23
15-19                  32.11
10-14                  13.61
25-29                  13.26
30-34                  10.12
35-39                   7.68
<10                     5.58
40+                     0.52